name: Pull Request

on:
  pull_request:
    types:
    - opened
    - synchronize
    - reopened

jobs:
  build:
    runs-on: elisa-normal
    timeout-minutes: 15
    permissions:
      id-token: write
      contents: read
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 1

    - uses: elisa-actions/setup-go-and-mage@v1

    - name: Run lint
      run: mage go:lint

    - name: Run test
      run: mage go:unitTest

    - name: Upload test coverage to codecov
      uses: codecov/codecov-action@v5
      with:
        url: https://codecov.csf.elisa.fi
        use_oidc: true

    - name: Build packages
      run: mage go:crossBuild

    - name: Notify failure
      if: |
        github.event.pull_request.draft == false &&
        failure()
      env:
        MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
        MATTERMOST_TEXT: "${{ github.repository }} PR build. Please check [here](${{ github.event.pull_request.html_url }}/checks)."
      run: send-to-mattermost

  automerge:
    needs: [build]
    runs-on: elisa-normal
    if: |
      github.event.pull_request.user.login == 'dependabot[bot]' ||
      github.event.pull_request.user.login == 'elisa-repo-updater[bot]'
    steps:
      - name: Automerge dependabot and repo-updater PR's
        uses: elisa-actions/automerge@v1
        with:
          github-token: ${{ secrets.DOPS_SRE_PAT }}
